// reset du css

*,
html,
body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

img{
    image-rendering: -webkit-optimize-contrast;
}

a,
p,
span,
ul,
li,
table,
tr,
td,
div {
    font-family: $font-primary;
}

.body {
    overflow-y: hidden;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;

    &:hover {
        border-color: $primary;
    }
}

main {
    height: 100%;
    background-color: $primary;
}

.grise{
    filter: blur(1px);
}