@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin simple-shadow {
    background: #23085548;
    border: 1px solid $border-color;
    outline: 1vw solid #37157504;
}


@mixin border-thema {
    background-color: $outline;
    border: 1px solid $border-color;
}


@mixin section-border {
    border-bottom: 1px solid $dark-border;
    border-top: 1px solid $dark-border;
}

@mixin section-linear {
    background: linear-gradient(90deg, $secondary-ultra, $secondary-dark, $secondary-ultra);
}

@mixin background-linear {
    background: linear-gradient(180deg, $secondary-darkest, $secondary-dark);
}

@mixin item-transition {
    transition: 0.12s ease-in;
}