@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin simple-shadow {
    background: #23085548;
    border: 1px solid $border-color;
}



@mixin section-border {
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
}

@mixin section-linear {
    background: linear-gradient(90deg, $secondary-ultra, $secondary-dark, $secondary-ultra);
}

@mixin background-linear {
    background: $secondary-darkest;
}

@mixin background-thema {
    background-image:
    radial-gradient(circle at 47% 14%, #cdcdcd0a 0%, rgba(205, 205, 205, 0.04) 43%, transparent 43%, transparent 100%),
    radial-gradient(circle at 35% 12%, rgba(215, 215, 215, 0.04) 0%, rgba(215, 215, 215, 0.04) 4%, transparent 4%, transparent 100%),
    radial-gradient(circle at 1% 35%, rgba(24, 24, 24, 0.04) 0%, rgba(24, 24, 24, 0.04) 37%, transparent 37%, transparent 100%),
    radial-gradient(circle at 21% 1%, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.02) 26%, transparent 26%, transparent 100%),
    radial-gradient(circle at 20% 80%, rgba(249, 249, 249, 0.02) 0%, rgba(249, 249, 249, 0.02) 60%, transparent 60%, transparent 100%),
    radial-gradient(circle at 11% 54%, rgba(251, 251, 251, 0.04) 0%, rgba(251, 251, 251, 0.04) 23%, transparent 23%, transparent 100%),
    radial-gradient(circle at 92% 92%, #eaeaea0a 0%, rgba(234, 234, 234, 0.04) 10%, transparent 10%, transparent 100%),
    linear-gradient(0deg, $secondary-dark, $secondary-dark);
}

@mixin item-transition {
    transition: 0.12s ease-in;
}

@mixin simple-card {
    @include simple-shadow;
    background-color: $secondary-medium;
    border-radius: 6px;
}