@mixin flex-center{
    display: flex;
    align-items: center;
}


@mixin simple-shadow{
    background: #23085548;
    border: 1px solid $border-color;
    outline: 1vw solid #37157504;
}

@mixin section-border{
    border-bottom: 1px solid #2a2a2a;
    border-top: 1px solid #2a2a2a;
}

@mixin section-linear{
    background:linear-gradient(90deg,#161616,#202020,#161616);
}


