@font-face {
    font-family: "Oswald Medium";
    src: url("/src/assets/fonts/Oswald/static/Oswald-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Inter Regular";
    src: url("/src/assets/fonts/Inter/static/Inter-Regular.ttf") format("truetype");
    font-display: swap;
}