$font-primary:'Inter Regular';
$font-primary-light:'Inter Light';
$font-secondary:'Oswald Medium';

$write:#161616;

$secondary:#CDFC8E;
$primary:#f6f6f6;
$primary-light:#969696;
$border-color:#37157572;