$font-primary:'Inter Regular';
$font-primary-light:'Inter Light';
$font-secondary:'Oswald Medium';
$font-alternative:'GT Walsheim';

$black:#161616;
$primary:#f2f2f2;
$write-overlay:#f2f2f2a4;

$secondary-lightest:#6f49b8;
$secondary-light:#5933a1;
$secondary:#3b1a79;
$secondary-medium:#230c4e;
$secondary-dark:#18063b;
$secondary-darkest:#0e0324;
$secondary-ultra:#090118;


$alternative:#CDFC8E;

$border-color:#37157572;
$outline:#37157520;

$gap:2vw;