$font-primary:'Inter Regular';
$font-primary-light:'Inter Light';
$font-secondary:'Oswald Medium';
$font-alternative:'GT Walsheim';

$write:#161616;

$secondary:#33156b;
$secondary-dark:#130430;
$secondary-darkest:#0e0324;

$primary:#f2f2f2;
$write-overlay:#f2f2f2c4;

$border-color:#37157572;
$dark-border:#242424;
$outline:#37157520;

$gap:2vw;