input,
label {
    font-size: 0.76vw;
}

.project-carousel {
    &__header {
        ul {
            @include flex-center;
            height: 2.4vw;
            justify-content: space-evenly;
            width: 36%;
            margin: auto;

            li {
                display: flex;
                justify-content: center;
                gap: 0.75rem;
                width: 100%;

                input,
                label {
                    cursor: pointer;
                }

                label {
                    padding-top: 0.16rem;

                    &:hover {
                        color: $primary;
                    }
                }


                input[type="radio"] {
                    appearance: none;
                    /* Add if not using autoprefixer */
                    -webkit-appearance: none;
                    /* Remove most all native input styles */
                    appearance: none;
                    /* For iOS < 15 */
                    background-color: $secondary-dark;
                    width: 1vw;
                    height: 1vw;
                    border-radius: 24%;
                    transform: translateY(0.05em);
                    display: grid;
                    place-content: center;
                }

                input[type="radio"]::before {
                    content: "";
                    width: 1vw;
                    height: 1vw;
                    border-radius: 24%;
                    transform: scale(0);
                    transition: 0.24s ease-in;
                    background-color: $secondary;
                }

                input[type="radio"]:checked::before {
                    transform: scale(1);
                }

                input[type="radio"]:focus {
                    outline: 2px solid $secondary-medium;
                    outline-offset: 0rem;
                }
            }
        }
    }
}

.contact {
    &__body {
        form {
            .input-group {
                display: grid;

                &:nth-child(5) {
                    button {
                        width: 36%;
                        margin: auto;
                    }
                }
            }

            .group-duo {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1vw;
            }

            label {
                color: $write-overlay;
                min-height: 2vw;
                @include flex-center;
                font-size: 1vw;
            }

            input,
            textarea,
            button {
                background-color: $secondary-medium;
                border: 1px solid $secondary;
                font-family: $font-primary;
                border-radius: 4px;
                color: $primary;
                width: 100%;
                padding: 0.5rem 0.75rem;
                min-height: 2.4vw;
                &:focus{
                    outline: unset;
                }
            }

            ::placeholder{
                color:$write-overlay;
                opacity: 0.6;
                font-size: 0.8vw;
                letter-spacing: 0.016rem;
            }

            label.star {
                &::after {
                    content: '*';
                    color: $alternative;
                    text-indent: 0.16rem;
                }
            }

            textarea {
                min-height: 8vw;
            }
        }
    }
}