textarea,
input,
label {
    font-size: 0.86vw;
}

.project-carousel {
    &__header {
        ul {
            @include flex-center;
            height: 2.4vw;
            justify-content: space-evenly;
            width: 36%;
            margin: auto;

            li {
                display: flex;
                justify-content: center;
                gap: 0.75rem;
                width: 100%;

                input,
                label {
                    cursor: pointer;
                }

                label {
                    padding-top: 0.16rem;

                    &:hover {
                        color: $primary;
                    }
                }


                input[type="radio"] {
                    appearance: none;
                    /* Add if not using autoprefixer */
                    -webkit-appearance: none;
                    /* Remove most all native input styles */
                    appearance: none;
                    /* For iOS < 15 */
                    background-color: $secondary-dark;
                    width: 1vw;
                    height: 1vw;
                    border-radius: 24%;
                    transform: translateY(0.05em);
                    display: grid;
                    place-content: center;
                }

                input[type="radio"]::before {
                    content: "";
                    width: 1vw;
                    height: 1vw;
                    border-radius: 24%;
                    transform: scale(0);
                    transition: 0.24s ease-in;
                    background-color: $secondary-light;
                }

                input[type="radio"]:checked::before {
                    transform: scale(1);
                }

                input[type="radio"]:focus {
                    outline: 2px solid $secondary;
                    outline-offset: 0rem;
                }
            }
        }
    }
}

.contact {
    &__body {
        form {
            .input-group {
                display: grid;
                &:nth-child(5) {
                    button {
                        width: 28%;
                        margin: auto;
                    }
                }
            }

            .group-duo {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 1vw;
            }

            label {
                color: $write-overlay;
                @include flex-center;
                display: none;
            }

            input,
            textarea,
            button {
                background-color: $secondary-dark;
                border: 1px solid $border-color;
                font-family: $font-primary;
                border-radius: 8px;
                color: $primary;
                width: 100%;
                padding: 0.5rem 0.75rem;
                min-height: 2.4vw;

                &:focus {
                    outline: unset;
                }
            }

            ::placeholder {
                color: $write-overlay;
                opacity: 0.6;
                font-size: 0.86vw;
                letter-spacing: 0.016rem;
            }

            label.star+ ::placeholder{
                text-indent: 0.16rem;
            }

            textarea {
                min-height: 8vw;
            }
        }
    }
}

@media screen and (max-width:800px) {

    .project-carousel {
        &__header {
            ul {
                li {

                    input[type="radio"]::before,
                    input[type="radio"] {
                        width: 2.6vw;
                        height: 2.6vw;
                    }

                    input[type="radio"]:focus {
                        outline: 2px solid $secondary;
                        outline-offset: 0rem;
                    }

                    label {
                        font-size: 3vw;
                    }
                }
            }
        }
    }

    .contact {
        &__body {
            form {
                .input-group {
                    gap: 0.75vw;
                }

                .group-duo {
                    grid-template-columns: 1fr;
                    gap: 3.2vw;
                }

                label {
                    display: none;
                }

                input,
                textarea,
                button {
                    font-size: 2.8vw;
                }

                ::placeholder {
                    font-size: 2.8vw;
                    opacity: 0.8;
                }


                textarea {
                    min-height: 24vw;
                }
            }
        }
    }


}