// global

h1,h2{
    font-family: $font-alternative;
    font-size: 4.6vw;
    text-align: center;
    text-shadow:-1px -1px 1px $write-overlay, 1px 1px 1px $black,0px -1px 2px $secondary;
    letter-spacing: 0.016rem;
    text-transform: capitalize;
    color: $secondary;
}

h3,h4,h6{
    color: $write-overlay;
    font-weight: unset;
    font-family: $font-primary-light;
}

// specific

.home-banner{
    h1{
        position: relative;
        top:-5%;
        letter-spacing: 0.16rem;
        z-index: 2;
    }
}

h2{
    letter-spacing: 0.072rem;
    font-size: 2.6vw;
    text-shadow: unset;
    text-align: start;
    text-transform: capitalize;

}

.project-card{
    &__body,.details__panel{
        h3{
            text-transform: uppercase;
            // height: 2.4vw;
            display: flex;
            align-items: center;
        }
    }
}