// global

h1,h2{
    font-family: $font-alternative;
    font-size: 4.6vw;
    text-align: center;
    letter-spacing: 0.016rem;
    text-transform: capitalize;
    color: $secondary;
    text-shadow:-1px -1px 1px $secondary-lightest,0px -1px 1px $secondary-lightest;
    // 0px 0px 1px $alternative;
}

h3,h4,h6{
    color: $write-overlay;
    font-weight: unset;
    font-family: $font-primary;
}

// specific

.home-banner{
    h1{
        position: relative;
        top:-5%;
        letter-spacing: 0.16rem;
        z-index: 2;
    }
}

h2{
    letter-spacing: 0.092rem;
    font-size: 1.92vw;
    text-align: start;
    text-transform: uppercase;
    text-shadow:0px -1px 0px $secondary-light,0px -1px 0px $secondary-light;
}


.project-card{
    &__body,.details__panel{
        h3{
            text-transform: uppercase;
            display: flex;
            align-items: center;
            font-size: 0.88vw;
        }
    }
}


.modale{
    &__frame{
        &__header{
            h3{
                font-size: 1.2vw;
            }
        }
    }
}

@media screen and (max-width:800px){

    h1,h2{
        text-shadow:-1px -1px 0px $secondary-lightest,0px -1px 0px $secondary-lightest;
    }

    h2{
        font-size: 6.4vw;
        text-shadow: unset;
        color:$secondary-light;
    }

    .home-banner{
        h1{
            font-size:12.6vw;
            letter-spacing:0.016rem;
        }
    }

    .project-card{
        .details__panel,
        &__body{
            h3{
                font-size: 3vw;
            }
        }
    }

    .modale{
        &__frame{
            &__header{
                h3{
                    font-size: 2.8vw;
                }
            }
        }
    }

    .expertise-card{
        &__body{
            h2{
                font-size: 4vw;
            }
        }
    }
}
