a {
    text-decoration: none;
    font-size: 0.80vw;
}

.navigation {
    &__body {
        a {
            @include flex-center-center;
            text-align: center;
            width: 8vw;
            height: 4.4vw;
            text-transform: capitalize;
            color: $primary;
            // border-radius: 4px;
        }

        a.is-active {
            background: linear-gradient(180deg, $secondary-medium, $secondary-medium);
            // box-shadow: 1px 1px 0px inset #fff4, -1px -1px 0px inset #fff4, -4px -1px 1px $secondary-darkest, 4px 1px 1px $secondary-darkest;
        }
    }
}

.details__panel__frame__footer {
    a {
        color: $alternative;
        color: $write-overlay;
        @include flex-center-center;
        @include simple-shadow;
        text-transform: capitalize;
        border-radius: 32px;
        background-color: $secondary;
        width: 6.4vw;
        height: 2.4vw;
        padding: 0.5vw;
        &:hover{
            border: 1px solid $secondary;
            background-color: transparent;
            color:$primary;
        }
    }
}

.social-link{
    a{
        
        color:$write-overlay;
        &:hover{
            color:$primary;
        }
    }
}