a {
    text-decoration: none;
}

.navigation {
    &__body {
        a {
            display: flex;
            width: 8vw;
            text-align: center;
            justify-content: center;
            height: 2.4vw;
            align-items: center;
            display: flex;
            text-transform: capitalize;
            color: #fff;
            border-radius: 4px; 
        }


        a.is-active {
            background:linear-gradient(180deg,#33156b,$write);
            box-shadow: 1px 1px 0px inset #fff4,-1px -1px 0px inset #fff2,-4px -1px 1px $write,4px 1px 1px $write;
            &:hover{
                background-color: #401c83;
            }
        }
    }
}