a {
    text-decoration: none;
}

.navigation {
    &__body {
        a {
            @include flex-center-center;
            text-align: center;
            width: 8vw;
            height: 2.4vw;
            text-transform: capitalize;
            color: $primary;
            border-radius: 4px; 
        }

        a.is-active {
            background:linear-gradient(180deg,$secondary,$write);
            box-shadow: 1px 1px 0px inset #fff4,-1px -1px 0px inset #fff2,-4px -1px 1px $write,4px 1px 1px $write;
        }
    }
}