ul li {
    list-style-type: none;
    font-size: 0.84vw;
}


@media screen and (max-width:1600px) {

    ul li {
        font-size: 0.92vw;
    }
}


@media screen and (max-width:800px) {

    ul li {
        font-size: 2.8vw;
    }
}