p{
    color: $write-overlay;
}

span{
    color:#CDFC8E;
}

.footer {
    &__body {
        p {
            font-family: $font-primary-light;
            font-size: 0.64vw;
        }
    }
}



.profile {
    &__body {
        &__right {
            p {
                line-height: 1.8vw;
                font-size: 0.78vw;
            }
        }
    }
}