p {
    color: $write-overlay;
    font-size: 0.80vw;
}

span {
    color: $alternative;
}

.footer {
    &__body {
        p {
            font-family: $font-primary-light;
            font-size: 0.64vw;
        }
    }
}



.profile {
    &__body {
        &__right {
            p {
                line-height: 1.8vw;
            }
        }
    }
}

@media screen and (max-width:1600px) {
    .footer {
        &__body {
            p {
                font-size: 0.92vw;
            }
        }
    }
}



@media screen and (max-width:800px) {

    p {
        font-size: 2.6vw;
    }

    .footer {
        &__body {
            p {
                font-size: 2.6vw;
            }
        }
    }
}