.square {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;

    .square-frame {
        position: absolute;
        @include simple-shadow;
        z-index: 1;
    }

    .large {
        min-width: 40vw;
        min-height: 40vw;
    }

    .medium {
        min-width: 28vw;
        min-height: 28vw;
    }
}

@media screen and (max-width:800px) {
    .square {
        .square-frame {}

    }
}