.square-frame{
    border:1px solid #d8d8d840;
    border-bottom:unset;
    box-shadow: 1px 1px 1px 0px #d8d8d808 inset,-2px -2px 2px 0px #d8d8d808 inset;
    background-color: #d8d8d808;
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1/1;
}