.booklet {
    @include background-linear;
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;

    &__body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: relative;
        .splide{
            width: 100%;
            &__slide{
                height: 28vw;
                @include simple-card;
            }
        }
    }
    &__footer{
        position: absolute;
        z-index: 0;
    }
}