.booklet {
    @include background-linear;
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    min-height: 40vw;

    &__body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: relative;

        .splide {
            width: 100%;
            gap: 3.2vw;
            display: flex;
            flex-direction: column;
            cursor: grab;

            &__slide {
                height: 30vw;
                @include simple-card;
            }

            &__pagination {
                position: relative;
            }
        }
    }

    &__footer {
        position: absolute;
        z-index: 0;
    }
}

.splide__pagination {
    counter-reset: pagination-num;

    &__page {
        border-radius: unset;
        background: unset;
        min-height: 1.2vw;
        color: $write-overlay;

        &::before {
            padding: 0.16rem;
        }
    }

    .is-active {
        background-color: unset;
        border-radius: 2px;

        &::before {
            background-color: $secondary;
        }
    }
}

.splide__pagination__page:before {
    counter-increment: pagination-num;
    content: counter(pagination-num);
}


@media screen and (max-width:520px) {

    .booklet {
        min-height: 120vw;

        &__body {
            .splide {
                gap: 10vw;
                &__slide {
                    height: 80vw;
                    margin-right: 2rem !important;
                    padding: 0;
                    width: 67vw !important;

                }
            }
        }
    }

    .splide__pagination {
        &__page {
            min-height: 2.8vw;
        }
    }

}