.expertise-card{
    display: grid;
    height: 100%;
    border-bottom:1px solid;
    place-content: baseline;
    background-color: $secondary-dark;
    &__body{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding:4vw;
        gap: 4vw;
    }
    &__footer{
        height: 2px;
    }
}


@media screen and (max-width:800px){

    .expertise-card{
        &__body{
            padding: 6vw;
            grid-gap: 6vw;
        }

    }

}
