.footer {
    &__body {
        @include section-border;
        @include flex-center;
        justify-content: center;
        background-color: $secondary-darkest;
        height: 2.8vw;
    }
}


@media screen and (max-width:1600px){

    .footer{
        &__body{
            height:6vw;
        }
    }

}

@media screen and (max-width:800px){
    .footer{
        &__body{
            height:20vw;
            background: $secondary-medium;
        }
    }
}
