.home-banner{
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    min-height: 40vw;
    @include background-linear;

    &__body {
        display: flex;
        width: 100%;

        .content {
            margin: auto;
            @include flex-center-center;
            flex-direction: column;
            gap: 4vw;
        }
    }

    &__header {

    }
}

