.home-banner,
.contact {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    min-height: 40vw;
    @include background-linear;

    &__body {
        display: flex;
        width: 100%;

        .content {
            margin: auto;
            @include flex-center-center;
            flex-direction: column;
            gap: 4vw;
        }
    }

    &__header {
        svg {
            position: absolute;
        }

        svg * {
            stroke: $border-color;
        }
    }
}

.contact {
    &__body {
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 32%;
        margin:auto;
        gap:$gap;
        justify-content: center;
        align-items: center;
        .contact-form{
            width: 100%;
            form {
                width: 100%;
                display: grid;
                gap: 1vw;
            }
        }
    }
}