.navigation {
    &__body {
        @include section-border;
        @include section-linear;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logotype {
            display: flex;
            svg{
                margin: 1rem;
                height: 3.2vw;
                width: 100%;

            }
        }

        ul {
            display: flex;
            margin:auto 1rem;
        }
    }
}