.navigation {
    &__body {
        @include section-border;
        @include section-linear;
        @include flex-center;
        justify-content: space-between;
        .logotype {
            display: flex;
            svg{
                margin: 1rem;
                height: 2.4vw;
                width: 100%;
            }
        }
        ul {
            display: flex;
            margin:auto 1rem;
        }
    }
}