.project-carousel{
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    @include background-linear;
    &__body{
        width:100%;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: $gap;
        padding: $gap;
    }
}