.project-carousel{
    display: grid;
    height: 100%;
    overflow: hidden;
    position: relative;
    @include background-linear;
    grid-template-rows: auto 1fr;
    min-height: 40vw;
    &__header{
        background-color: $secondary-medium;
        border-bottom: 1px solid $border-color;
        z-index: 1;
        color:$write-overlay;
    }

    &__body{
        width:100%;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: $gap;
        padding: 0 6vw;
        place-content:center;
    }
    &__footer{
        position: absolute;
        width:100%;
        z-index:0;
    }
}