.navigation {
    &__header {
        background-color: $write;
        display: flex;
        height: $gap;
        justify-content: flex-end;
        align-items: center;
        color: $primary;
        .social-media{
            @include flex-center;
            svg{
                fill:$write-overlay;
                width: 0.92vw;
                height: 0.92vw;
                margin:auto 1rem;
                cursor: pointer;
                @include item-transition;
                &:hover{
                    fill:$primary;
                }
            }
        }
    }
}