.navigation {
    &__header {
        // background-color: $primary;
        // background-color: transparent;
        background-color: #161616;
        display: flex;
        height: 2vw;
        justify-content: flex-end;
        align-items: center;
        color: $primary;
        .social-media{
            @include flex-center;
            svg{
                fill:$primary-light;
                width: 0.92vw;
                height: 0.92vw;
                margin:auto 1rem;
                cursor: pointer;
                transition: 0.1s ease;
                &:hover{
                    fill:$primary;
                }
            }
        }
    }
}