.profile {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    min-height: 40vw;
    @include background-linear;

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        color: $primary;

        &__left {
            @include flex-center-center;

            .portrait-frame {
                display: flex;
                padding: $gap;
                width: 24vw;
                border-radius: 32%;
                position: relative;
                border: 1px solid $border-color;
                background-color: $outline;
                z-index: 4;

                img {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    margin: auto;
                    border-radius: 32%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                }
            }
        }

        &__right {
            display: grid;
            z-index: 2;
            position: relative;
            padding: 4vw;
            background-color: $outline;
            border-left: 1px solid $border-color;
            .content-frame {
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                gap: $gap;
                color: $write-overlay;
                width: 72%;
            }

            .social-media {
                @include flex-center;

                svg {
                    fill: $write-overlay;
                    width: 1.2vw;
                    height: 1.2vw;
                    margin: auto $gap auto 0;
                    cursor: pointer;
                    @include item-transition;

                    &:hover {
                        fill: $primary;
                    }
                }
            }
        }
    }

}

@media screen and (max-width:800px){

    .profile{
        min-height: 120vw;
        &__body{
            grid-template-columns: 1fr;
            .content-frame{
                width: 92%;
            }
            &__right{
                background-color: unset;
                padding: $mobile-gap;
                border: unset;
                .social-media{
                    svg{
                        width: 3.6vw;
                        height: 3.6vw;
                        margin: auto 4.8vw auto 0;
                    }
                }
            }
        }
    }

}
