.contact {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    min-height: 40vw;
    @include background-linear;
    &__body {
        z-index: 1;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin:auto 0;
        gap:3.2vw;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        @include simple-shadow;
        border-left: unset;
        border-top: unset;
        border-bottom: unset;
        h2{
            margin:auto auto 0;
            width: 72%; 
        }
        .contact-form{
            width: 72%;
            margin:1vw auto auto;
            form {
                width: 100%;
                display: grid;
                gap: 1vw;
            }
        }
    }
}

.map{
    height: 50vh;
    width: 100%;
}