@font-face {
  font-family: "GT Walsheim";
  src: url("/src/assets/fonts/GT-Walsheim/GTWalsheimPro-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Oswald Medium";
  src: url("/src/assets/fonts/Oswald/static/Oswald-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Inter Regular";
  src: url("/src/assets/fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Inter Light";
  src: url("/src/assets/fonts/Inter/static/Inter-Light.ttf") format("truetype");
  font-display: swap;
}
@keyframes rotateR {
  from {
    transform: translateY(0px) rotate(0);
  }
  to {
    transform: translateY(15px) rotate(45deg);
  }
}
@keyframes rotateL {
  from {
    transform: translateY(0px) rotate(0);
  }
  to {
    transform: translateY(-15px) rotate(-45deg);
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.splide__container {
  box-sizing: border-box;
  position: relative;
}

.splide__list {
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.splide.is-initialized:not(.is-active) .splide__list {
  display: block;
}

.splide__pagination {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}

.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}

.splide:not(.is-overflow) .splide__pagination {
  display: none;
}

.splide__progress__bar {
  width: 0;
}

.splide {
  position: relative;
  visibility: hidden;
}

.splide.is-initialized, .splide.is-rendered {
  visibility: visible;
}

.splide__slide {
  backface-visibility: hidden;
  box-sizing: border-box;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  list-style-type: none !important;
  margin: 0;
  position: relative;
}

.splide__slide img {
  vertical-align: bottom;
}

.splide__spinner {
  animation: splide-loading 1s linear infinite;
  border: 2px solid #999;
  border-left-color: transparent;
  border-radius: 50%;
  bottom: 0;
  contain: strict;
  display: inline-block;
  height: 20px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
}

.splide__sr {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.splide__toggle.is-active .splide__toggle__play, .splide__toggle__pause {
  display: none;
}

.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}

.splide__track {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

@keyframes splide-loading {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.splide__track--draggable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.splide__track--fade > .splide__list > .splide__slide {
  margin: 0 !important;
  opacity: 0;
  z-index: 0;
}

.splide__track--fade > .splide__list > .splide__slide.is-active {
  opacity: 1;
  z-index: 1;
}

.splide--rtl {
  direction: rtl;
}

.splide__track--ttb > .splide__list {
  display: block;
}

.splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: #ccc;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2em;
  z-index: 1;
}

.splide__arrow svg {
  fill: #000;
  height: 1.2em;
  width: 1.2em;
}

.splide__arrow:hover:not(:disabled) {
  opacity: 0.9;
}

.splide__arrow:disabled {
  opacity: 0.3;
}

.splide__arrow:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__arrow--prev {
  left: 1em;
}

.splide__arrow--prev svg {
  transform: scaleX(-1);
}

.splide__arrow--next {
  right: 1em;
}

.splide.is-focus-in .splide__arrow:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__pagination {
  bottom: 0.5em;
  left: 0;
  padding: 0 1em;
  position: absolute;
  right: 0;
  z-index: 1;
}

.splide__pagination__page {
  background: #ccc;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  height: 8px;
  margin: 3px;
  opacity: 0.7;
  padding: 0;
  position: relative;
  transition: transform 0.2s linear;
  width: 8px;
}

.splide__pagination__page.is-active {
  background: #fff;
  transform: scale(1.4);
  z-index: 1;
}

.splide__pagination__page:hover {
  cursor: pointer;
  opacity: 0.9;
}

.splide__pagination__page:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__pagination__page:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__progress__bar {
  background: #ccc;
  height: 3px;
}

.splide__slide {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.splide__slide:focus {
  outline: 0;
}

@supports (outline-offset: -3px) {
  .splide__slide:focus-visible {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide__slide:focus-visible {
    border: 3px solid #0bf;
  }
}
@supports (outline-offset: -3px) {
  .splide.is-focus-in .splide__slide:focus {
    outline: 3px solid #0bf;
    outline-offset: -3px;
  }
}
@media screen and (-ms-high-contrast: none) {
  .splide.is-focus-in .splide__slide:focus {
    border: 3px solid #0bf;
  }
  .splide.is-focus-in .splide__track > .splide__list > .splide__slide:focus {
    border-color: #0bf;
  }
}
.splide__toggle {
  cursor: pointer;
}

.splide__toggle:focus-visible {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide.is-focus-in .splide__toggle:focus {
  outline: 3px solid #0bf;
  outline-offset: 3px;
}

.splide__track--nav > .splide__list > .splide__slide {
  border: 3px solid transparent;
  cursor: pointer;
}

.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: 3px solid #000;
}

.splide__arrows--rtl .splide__arrow--prev {
  left: auto;
  right: 1em;
}

.splide__arrows--rtl .splide__arrow--prev svg {
  transform: scaleX(1);
}

.splide__arrows--rtl .splide__arrow--next {
  left: 1em;
  right: auto;
}

.splide__arrows--rtl .splide__arrow--next svg {
  transform: scaleX(-1);
}

.splide__arrows--ttb .splide__arrow {
  left: 50%;
  transform: translate(-50%);
}

.splide__arrows--ttb .splide__arrow--prev {
  top: 1em;
}

.splide__arrows--ttb .splide__arrow--prev svg {
  transform: rotate(-90deg);
}

.splide__arrows--ttb .splide__arrow--next {
  bottom: 1em;
  top: auto;
}

.splide__arrows--ttb .splide__arrow--next svg {
  transform: rotate(90deg);
}

.splide__pagination--ttb {
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  left: auto;
  padding: 1em 0;
  right: 0.5em;
  top: 0;
}

*,
html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

a,
p,
span,
ul,
li,
table,
tr,
td,
div {
  font-family: "Inter Regular";
}

.body {
  overflow-y: hidden;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
.body:hover {
  border-color: #f2f2f2;
}

main {
  height: 100%;
  background-color: #f2f2f2;
}

.grise {
  filter: blur(1px);
}

.ornement {
  position: absolute;
}
.ornement * {
  stroke: rgba(55, 21, 117, 0.4470588235);
}

a {
  text-decoration: none;
  font-size: 0.8vw;
}

.navigation__body a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 8vw;
  height: 4.4vw;
  text-transform: capitalize;
  color: #f2f2f2;
}
.navigation__body a.is-active {
  background: linear-gradient(180deg, #230c4e, #230c4e);
}

.details__panel__frame__footer a {
  color: #CDFC8E;
  color: rgba(242, 242, 242, 0.6431372549);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(35, 8, 85, 0.2823529412);
  border: 1px solid rgba(55, 21, 117, 0.4470588235);
  outline: 1vw solid rgba(55, 21, 117, 0.0156862745);
  text-transform: capitalize;
  border-radius: 32px;
  background-color: #3b1a79;
  width: 6.4vw;
  height: 2.4vw;
  padding: 0.5vw;
}
.details__panel__frame__footer a:hover {
  border: 1px solid #3b1a79;
  background-color: transparent;
  color: #f2f2f2;
}

.social-link a {
  color: rgba(242, 242, 242, 0.6431372549);
}
.social-link a:hover {
  color: #f2f2f2;
}

.contact__body .infos-frame a {
  color: rgba(242, 242, 242, 0.6431372549);
  font-size: 0.76vw;
}
.contact__body .infos-frame a:hover {
  color: #6f49b8;
}

@media screen and (max-width: 1600px) {
  .navigation__body a {
    height: 6vw;
  }
}
@media screen and (max-width: 800px) {
  .contact__body .infos-frame a,
  a {
    font-size: 2.6vw;
  }
  .details__panel__frame__footer a {
    width: 16vw;
    padding: 3.2vw;
  }
  .navigation a {
    height: 16vw;
    width: 100%;
  }
  .navigation ul .is-active li::before {
    content: "->";
    position: absolute;
    margin-left: -5%;
    width: 20px;
    height: 20px;
  }
  .navigation ul li {
    font-size: 3.2vw;
    text-transform: uppercase;
    color: rgba(242, 242, 242, 0.6431372549);
    width: 40vw;
    text-align: start;
  }
}
ul li {
  list-style-type: none;
  font-size: 0.84vw;
}

@media screen and (max-width: 1600px) {
  ul li {
    font-size: 0.92vw;
  }
}
@media screen and (max-width: 800px) {
  ul li {
    font-size: 2.8vw;
  }
}
h1, h2 {
  font-family: "GT Walsheim";
  font-size: 4.6vw;
  text-align: center;
  letter-spacing: 0.016rem;
  text-transform: capitalize;
  color: #3b1a79;
  text-shadow: -1px -1px 1px #6f49b8, 0px -1px 1px #6f49b8;
}

h3, h4, h6 {
  color: rgba(242, 242, 242, 0.6431372549);
  font-weight: unset;
  font-family: "Inter Regular";
}

.home-banner h1 {
  position: relative;
  top: -5%;
  letter-spacing: 0.16rem;
  z-index: 2;
}

h2 {
  letter-spacing: 0.092rem;
  font-size: 2.4vw;
  text-align: start;
  text-transform: uppercase;
}

.project-card__body h3, .project-card .details__panel h3 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 0.88vw;
}

@media screen and (max-width: 800px) {
  h1, h2 {
    text-shadow: -1px -1px 0px #6f49b8, 0px -1px 0px #6f49b8;
  }
  .home-banner h1 {
    font-size: 12.6vw;
    letter-spacing: 0.016rem;
  }
  .project-card .details__panel h3, .project-card__body h3 {
    font-size: 3vw;
  }
  h2 {
    font-size: 6.4vw;
  }
}
.square {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
}
.square .square-frame {
  position: absolute;
  background: rgba(35, 8, 85, 0.2823529412);
  border: 1px solid rgba(55, 21, 117, 0.4470588235);
  outline: 1vw solid rgba(55, 21, 117, 0.0156862745);
  z-index: 1;
}
.square .large {
  min-width: 40vw;
  min-height: 40vw;
}
.square .medium {
  min-width: 28vw;
  min-height: 28vw;
}

.star {
  position: absolute;
  display: flex;
}

button {
  cursor: pointer;
  font-size: 0.78vw;
}

.home-banner button {
  color: rgba(242, 242, 242, 0.6431372549);
  border-radius: 50%;
  background: rgba(35, 8, 85, 0.2823529412);
  border: 1px solid rgba(55, 21, 117, 0.4470588235);
  outline: 1vw solid rgba(55, 21, 117, 0.0156862745);
  background-color: rgba(55, 21, 117, 0.1254901961);
  padding: 1vw;
  width: 5.6vw;
  height: 5.6vw;
  transition: 0.12s ease-in;
  outline-width: 0vw;
  outline-color: transparent;
}

.project-card__body button,
.details__panel__frame__header button {
  display: flex;
  background: unset;
  border: unset;
}
.project-card__body button svg,
.details__panel__frame__header button svg {
  display: flex;
  align-items: center;
}
.project-card__body button svg path,
.details__panel__frame__header button svg path {
  fill: rgba(242, 242, 242, 0.6431372549);
  transform-origin: center;
  transition: 0.12s ease-in;
}
.project-card__body button svg:hover path,
.details__panel__frame__header button svg:hover path {
  fill: #f2f2f2;
  transform: scale(1.2);
}

.navigation__body .cross-frame {
  position: absolute;
  z-index: 9;
  width: 10%;
  justify-content: center;
  align-items: center;
  right: 0;
  height: 12vw;
  background: unset;
  border: unset;
}
.navigation__body .cross-frame .cross {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.navigation__body .cross-frame .cross .bar {
  width: 24px;
  height: 2px;
  background-color: #f2f2f2;
}
.navigation__body .cross-frame .cross .bar:nth-of-type(1) {
  transform: translateY(6px) rotate(45deg);
}
.navigation__body .cross-frame .cross .bar:nth-of-type(2) {
  transform: translateY(-4.8px) rotate(-45deg);
}

@media screen and (max-width: 800px) {
  button {
    font-size: 2.6vw;
  }
  .home-banner button {
    width: 24vw;
    height: 24vw;
    outline: unset !important;
    border: 4.8px solid rgba(55, 21, 117, 0.4470588235) !important;
  }
}
p {
  color: rgba(242, 242, 242, 0.6431372549);
  font-size: 0.8vw;
}

span {
  color: #CDFC8E;
}

.footer__body p {
  font-family: "Inter Light";
  font-size: 0.64vw;
}

.profile__body__right p {
  line-height: 1.8vw;
}

@media screen and (max-width: 1600px) {
  .footer__body p {
    font-size: 0.92vw;
  }
}
@media screen and (max-width: 800px) {
  p {
    font-size: 2.6vw;
  }
  .footer__body p {
    font-size: 2.6vw;
  }
  .profile__body__right p {
    line-height: 3.2vw;
  }
}
table,
tr,
td {
  color: rgba(242, 242, 242, 0.6431372549);
  font-size: 0.72vw;
}

table {
  border-spacing: 0;
}
table td {
  padding: 0.75rem;
}
table tbody td:nth-child(1) {
  color: rgba(242, 242, 242, 0.6431372549);
  width: 10vw;
}
table tbody td:nth-child(2) {
  width: 20vw;
}

tr:nth-child(odd) {
  background-color: #3b1a79;
}

tr:nth-child(even) {
  background-color: rgba(55, 21, 117, 0.4470588235);
}

@media screen and (max-width: 800px) {
  table,
  tr,
  td {
    font-size: 2vw;
  }
  table tbody td:nth-child(1) {
    width: 30vw;
  }
  table tbody td:nth-child(2) {
    width: 60vw;
  }
  tr:nth-child(even) {
    background-color: unset;
  }
}
input,
label {
  font-size: 0.76vw;
}

.project-carousel__header ul {
  display: flex;
  align-items: center;
  height: 2.4vw;
  justify-content: space-evenly;
  width: 36%;
  margin: auto;
}
.project-carousel__header ul li {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
}
.project-carousel__header ul li input,
.project-carousel__header ul li label {
  cursor: pointer;
}
.project-carousel__header ul li label {
  padding-top: 0.16rem;
}
.project-carousel__header ul li label:hover {
  color: #f2f2f2;
}
.project-carousel__header ul li input[type=radio] {
  appearance: none;
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: #18063b;
  width: 1vw;
  height: 1vw;
  border-radius: 24%;
  transform: translateY(0.05em);
  display: grid;
  place-content: center;
}
.project-carousel__header ul li input[type=radio]::before {
  content: "";
  width: 1vw;
  height: 1vw;
  border-radius: 24%;
  transform: scale(0);
  transition: 0.24s ease-in;
  background-color: #5933a1;
}
.project-carousel__header ul li input[type=radio]:checked::before {
  transform: scale(1);
}
.project-carousel__header ul li input[type=radio]:focus {
  outline: 2px solid #3b1a79;
  outline-offset: 0rem;
}

.contact__body form .input-group {
  display: grid;
}
.contact__body form .input-group:nth-child(5) button {
  width: 36%;
  margin: auto;
}
.contact__body form .group-duo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1vw;
}
.contact__body form label {
  color: rgba(242, 242, 242, 0.6431372549);
  min-height: 2vw;
  display: flex;
  align-items: center;
  font-size: 1vw;
}
.contact__body form input,
.contact__body form textarea,
.contact__body form button {
  background-color: #230c4e;
  border: 1px solid #3b1a79;
  font-family: "Inter Regular";
  border-radius: 4px;
  color: #f2f2f2;
  width: 100%;
  padding: 0.5rem 0.75rem;
  min-height: 2.4vw;
}
.contact__body form input:focus,
.contact__body form textarea:focus,
.contact__body form button:focus {
  outline: unset;
}
.contact__body form ::placeholder {
  color: rgba(242, 242, 242, 0.6431372549);
  opacity: 0.6;
  font-size: 0.8vw;
  letter-spacing: 0.016rem;
}
.contact__body form label.star::after {
  content: "*";
  color: #CDFC8E;
  text-indent: 0.16rem;
}
.contact__body form textarea {
  min-height: 8vw;
}

@media screen and (max-width: 800px) {
  .project-carousel__header ul li input[type=radio]::before,
  .project-carousel__header ul li input[type=radio] {
    width: 2.6vw;
    height: 2.6vw;
  }
  .project-carousel__header ul li input[type=radio]:focus {
    outline: 2px solid #3b1a79;
    outline-offset: 0rem;
  }
  .project-carousel__header ul li label {
    font-size: 3vw;
  }
}
particle {
  border-radius: 50%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  opacity: 0;
  z-index: 9;
}

.footer__body {
  border-bottom: 1px solid rgba(55, 21, 117, 0.4470588235);
  border-top: 1px solid rgba(55, 21, 117, 0.4470588235);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e0324;
  height: 2.8vw;
}

@media screen and (max-width: 1600px) {
  .footer__body {
    height: 6vw;
  }
}
@media screen and (max-width: 800px) {
  .footer__body {
    height: 20vw;
    background: #230c4e;
  }
}
.navigation__body {
  border-bottom: 1px solid rgba(55, 21, 117, 0.4470588235);
  background: linear-gradient(90deg, #090118, #18063b, #090118);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation__body .logotype {
  display: flex;
}
.navigation__body .logotype svg {
  margin: auto 1vw;
  height: 2.4vw;
  width: 100%;
  cursor: pointer;
}
.navigation__body ul {
  display: flex;
  margin: auto 4vw;
}
.navigation__body__right {
  display: flex;
}
.navigation__body__right .cross-frame {
  display: none;
}

@media screen and (max-width: 800px) {
  .navigation__body {
    flex-direction: column;
    background: #230c4e;
  }
  .navigation__body .logotype {
    height: 12vw;
  }
  .navigation__body .logotype svg {
    height: 8vw;
  }
  .navigation__body__right {
    background: linear-gradient(180deg, #0e0324, #18063b);
    display: none;
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
  }
  .navigation__body__right ul {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .navigation__body__right .cross-frame {
    display: flex;
  }
  .navigation__body.navbar-fixed {
    position: fixed;
    z-index: 16;
    width: 100%;
  }
}
.navigation__header {
  background-color: #161616;
  display: flex;
  height: 2vw;
  justify-content: flex-end;
  align-items: center;
  color: #f2f2f2;
}
.navigation__header .social-media {
  display: flex;
  align-items: center;
}
.navigation__header .social-media svg {
  fill: rgba(242, 242, 242, 0.6431372549);
  width: 0.92vw;
  height: 0.92vw;
  margin: auto 1rem;
  cursor: pointer;
  transition: 0.12s ease-in;
}
.navigation__header .social-media svg:hover {
  fill: #f2f2f2;
}

.home-banner {
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  min-height: 40vw;
  background: linear-gradient(180deg, #0e0324, #18063b);
}
.home-banner__header {
  position: absolute;
  width: 100%;
  height: 100%;
}
.home-banner__body {
  display: flex;
  width: 100%;
  position: relative;
}
.home-banner__body .content {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4vw;
}

@media screen and (max-width: 800px) {
  .home-banner {
    min-height: 120vw;
  }
  .home-banner__body .content {
    gap: 8vw;
  }
}
.project-carousel {
  display: grid;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, #0e0324, #18063b);
  grid-template-rows: auto 1fr;
  min-height: 40vw;
}
.project-carousel__header {
  background-color: #230c4e;
  border-bottom: 1px solid rgba(55, 21, 117, 0.4470588235);
  z-index: 1;
  color: rgba(242, 242, 242, 0.6431372549);
}
.project-carousel__body {
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2vw;
  padding: 0 6vw;
  place-content: center;
}
.project-carousel__footer {
  position: absolute;
  width: 100%;
  z-index: 0;
}

@media screen and (max-width: 800px) {
  .project-carousel {
    overflow: auto;
  }
  .project-carousel__body {
    grid-template-columns: 1fr;
    place-content: flex-start;
    padding: 6vw 6vw;
    grid-gap: 6vw;
  }
  .project-carousel__header ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
  }
  .project-carousel__header ul li {
    height: 10vw;
    justify-content: flex-start;
    align-items: center;
    padding: 0% 20%;
  }
}
.booklet {
  background: linear-gradient(180deg, #0e0324, #18063b);
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.booklet__body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}
.booklet__body .splide {
  width: 100%;
}
.booklet__body .splide__slide {
  height: 28vw;
  background: rgba(35, 8, 85, 0.2823529412);
  border: 1px solid rgba(55, 21, 117, 0.4470588235);
  outline: 1vw solid rgba(55, 21, 117, 0.0156862745);
  background-color: #230c4e;
  border-radius: 6px;
}
.booklet__body .splide__pagination {
  bottom: -18%;
}
.booklet__footer {
  position: absolute;
  z-index: 0;
}

.splide__pagination {
  counter-reset: pagination-num;
}
.splide__pagination__page {
  border-radius: unset;
  background: unset;
  min-height: 1.2vw;
  color: rgba(242, 242, 242, 0.6431372549);
}
.splide__pagination__page::before {
  padding: 0.16rem;
}
.splide__pagination .is-active {
  background-color: unset;
  border-radius: 2px;
}
.splide__pagination .is-active::before {
  background-color: #3b1a79;
}

.splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter(pagination-num);
}

@media screen and (max-width: 800px) {
  .booklet {
    min-height: 80vw;
  }
  .booklet__body .splide__slide {
    height: 72vw;
  }
  .splide__pagination__page {
    min-height: 2.8vw;
  }
}
.project-card {
  background: rgba(35, 8, 85, 0.2823529412);
  border: 1px solid rgba(55, 21, 117, 0.4470588235);
  outline: 1vw solid rgba(55, 21, 117, 0.0156862745);
  background-color: #230c4e;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 1vw;
  height: 100%;
}
.project-card__header {
  display: flex;
}
.project-card__header img {
  width: 100%;
  height: 12vw;
  object-fit: cover;
  object-position: top;
  border-radius: 6px;
  cursor: pointer;
}
.project-card__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details__panel {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  place-items: center;
  flex-direction: column;
  z-index: 96;
}
.details__panel__frame {
  box-shadow: -1px -1px 1px 0px #230c4e, 1px 1px 1px 0px #230c4e;
  background-color: #230c4e;
  border: 1px solid #3b1a79;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 6px;
  z-index: 96;
}
.details__panel__frame__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5vw;
  background-color: #18063b;
  border-bottom: 1px solid rgba(55, 21, 117, 0.4470588235);
  border-radius: 6px 6px 0px 0px;
}
.details__panel__frame__body {
  padding: 3.2vw 3.2vw 0vw;
}
.details__panel__frame__body .splide__arrow {
  background-color: unset;
}
.details__panel__frame__body .splide__arrow svg {
  fill: rgba(242, 242, 242, 0.6431372549);
  width: 1.4em;
  height: 1.4em;
}
.details__panel__frame__body .splide__arrow--prev {
  left: -2.4vw;
}
.details__panel__frame__body .splide__arrow--next {
  right: -2.4vw;
}
.details__panel__frame__body .description-frame p {
  line-height: 1.4vw;
}
.details__panel__frame__footer {
  padding: 2vw 3.2vw 3.2vw;
}
.details__panel__body {
  margin: auto;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .details__panel__frame {
    width: 92%;
  }
  .details__panel__frame__body {
    padding: 4.8vw 3.2vw;
  }
  .details__panel__frame__body .description-frame p {
    line-height: 2.8vw;
  }
  .details__panel__frame__body .splide__arrow {
    height: 1em;
    width: 1em;
  }
  .details__panel__frame__body .splide__arrow--prev {
    left: -3vw;
  }
  .details__panel__frame__body .splide__arrow--next {
    right: -3vw;
  }
  .details__panel__frame__header {
    padding: 2vw;
    background-color: #230c4e;
  }
  .details__panel__frame__footer {
    padding: 0vw 3.2vw 4.8vw;
  }
  .project-card {
    padding: 0vw;
    gap: 0rem;
  }
  .project-card__header {
    padding: 2vw;
  }
  .project-card__header img {
    height: 40vw;
  }
  .project-card__body {
    padding: 0 2vw 2vw;
  }
}
.profile {
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  min-height: 40vw;
  background: linear-gradient(180deg, #0e0324, #18063b);
}
.profile__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  color: #f2f2f2;
}
.profile__body__left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__body__left .portrait-frame {
  display: flex;
  padding: 2vw;
  width: 24vw;
  border-radius: 32%;
  position: relative;
  border: 1px solid rgba(55, 21, 117, 0.4470588235);
  background-color: rgba(55, 21, 117, 0.1254901961);
  z-index: 4;
}
.profile__body__left .portrait-frame img {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  border-radius: 32%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.profile__body__right {
  display: grid;
  z-index: 2;
  position: relative;
  padding: 4vw;
  background-color: rgba(55, 21, 117, 0.1254901961);
  border-left: 1px solid rgba(55, 21, 117, 0.4470588235);
}
.profile__body__right .content-frame {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 2vw;
  color: rgba(242, 242, 242, 0.6431372549);
  width: 72%;
}
.profile__body__right .social-media {
  display: flex;
  align-items: center;
}
.profile__body__right .social-media svg {
  fill: rgba(242, 242, 242, 0.6431372549);
  width: 1.2vw;
  height: 1.2vw;
  margin: auto 2vw auto 0;
  cursor: pointer;
  transition: 0.12s ease-in;
}
.profile__body__right .social-media svg:hover {
  fill: #f2f2f2;
}

@media screen and (max-width: 800px) {
  .profile {
    min-height: 140vw;
  }
  .profile__body {
    grid-template-columns: 1fr;
  }
  .profile__body .content-frame {
    width: 92%;
  }
  .profile__body__right {
    background-color: unset;
    padding: 8vw;
    border: unset;
  }
  .profile__body__right .social-media svg {
    width: 4.4vw;
    height: 4.4vw;
    margin: auto 4.8vw auto 0;
  }
  .profile__body__left .portrait-frame {
    width: 32vw;
  }
}
.contact {
  display: flex;
  height: 100%;
  overflow: hidden;
  position: relative;
  min-height: 40vw;
  background: linear-gradient(180deg, #0e0324, #18063b);
}
.contact__body {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.contact__body__frame {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__body__frame .picture-frame {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__body__frame .picture-frame > div {
  width: 32vw;
  height: 32vw;
}
.contact__body .infos-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.contact__body h2 {
  margin: auto auto 0;
  width: 50%;
}
.contact__body .contact-form {
  width: 40%;
  margin: -2vw auto auto;
}
.contact__body .contact-form form {
  width: 100%;
  display: grid;
  gap: 1vw;
}

.map {
  height: 50vh;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .contact__body__frame .picture-frame > div {
    width: 72vw;
    height: 72vw;
  }
}

/*# sourceMappingURL=App.css.map */
